*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
body, html{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator-body{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background: rgb(188, 188, 188);
    border-radius: 20px;
    padding: 20px;
}
#display{
    background: rgb(255, 255, 255);
    position: relative;
    flex: 1;
    text-align: right;
    padding: 0 10px;
    border-radius: 5px;
}
#prevNumber{
    color: rgba(0,0,0,.5);
    font-size: .3em;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

#keypad{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rowOfKeys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}
.rowOfKeys h1{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 5px;
    flex: 0 0 50px;
    text-align: center;
}